<template name="editJournalEntry">
    {{#ionModal customTemplate=true id="modalEditJournalEntry"}}
        {{#autoForm collection="Collection.JournalEntry" doc=journalEntryDetail id="editJournalEntry" type="update"}}
            <div class="bar bar-header bar-stable" style="background-color: #387ef5;">
                <h2 class="title" style="color: white;">Edit Journal Entry</h2>
                <button name="close" data-dismiss="modal" type="button" class="button button-clear pull-left" style="color: white;">
                    {{> ionIcon icon="ion ion-close-circled"}}
                </button>
            </div>
            <div class="content has-header overflow-scroll">
                {{> afQuickField name='date'}}
                {{> afQuickField name='typeOfJournal' type="text" readonly=true}}
                {{> afQuickField name='journalEntryItem'}}
                <div class="col">
                    <button class="button button-block button-positive js-updateJournal">
                        {{> ionIcon icon="ion ion-checkmark-circled"}} Update
                    </button>
                </div>
            </div>
        {{/autoForm}}
    {{/ionModal}}
</template>
